* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input {
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

header {
  background: #012d63;
  color: #c7c7c7;
}

.navigation {
  display: flex;
  padding-top: 15px;
  gap: 30px;
  padding-bottom: 15px;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
  font-weight: 300;
}

header a:hover {
  color: white;
  font-weight: 400;
}

.languege-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.colorawe-container {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 94px;
}
.colorawe-container::before {
  display: block;
  width: 160px;
  height: 120px;
  content: "";
  background-image: url(/src/images/section01/cr.svg), url(/src/images/section01/logo.svg);
  background-position: bottom center, top center;
  background-size: 100px, 160px;
  background-repeat: no-repeat;
}

.colorawe {
  background-repeat: no-repeat;
  background: url(/src/images/section01/background_colorawe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.colorawe-title {
  font-family: "Playfair Display", serif;
  font-size: 144px;
  margin-bottom: 8px;
}

.colorawe-subtitle {
  font-family: "Playfair Display", serif;
  font-size: 72px;
  margin-bottom: 12px;
}

.colorawe-text {
  font-size: 18px;
  margin-bottom: 41px;
}

.button01 {
  color: white;
  background: #8e32c6;
  border: none;
  border-radius: 10px;
  min-height: 67px;
  min-width: 254px;
  font-size: 24px;
  margin-bottom: 202px;
}

.section2 {
  background-image: radial-gradient(circle at right bottom, rgb(1, 170, 199), rgba(2, 22, 53, 0) 22%), radial-gradient(circle at left top, rgb(110, 44, 165), rgb(2, 22, 53) 22%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  height: 606px;
  padding-top: 105px;
}

.box-for-section2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 145px;
  height: 396px;
  border: 5px solid #8e32c6;
  padding-top: 25px;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.card-section2 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card-section2:nth-child(2)::before {
  content: "";
  width: 1px;
  height: 346px;
  background-color: white;
  position: absolute;
  left: -95px;
  top: -20px;
}
.card-section2:nth-child(2)::after {
  content: "";
  width: 1px;
  height: 346px;
  background-color: white;
  position: absolute;
  right: -95px;
  top: -20px;
}

.section2-title {
  max-width: 159px;
  text-align: center;
}

.reviews {
  background-image: url(/src/images/section03/flower.png), radial-gradient(circle at right bottom, rgb(1, 170, 199), rgb(2, 22, 53) 22%);
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 115px;
  padding-top: 24px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 951px;
  gap: 25px;
}

.box-for-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 93px;
}

.about-member {
  display: flex;
}

.block-foto {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  overflow: hidden;
}

.photo {
  width: 100%;
}

.reviews-title {
  font-size: 48px;
  font-family: Playfair Display;
  align-self: center;
  color: #fff;
}

.box-information {
  display: flex;
  flex-direction: column;
  padding: 49px 14px;
  gap: 8px;
}

.about-member {
  padding-left: 13px;
  padding-bottom: 29px;
  padding-top: 47px;
}

.member-box {
  font-size: 14px;
  padding-left: 5px;
  padding-bottom: 29px;
}

.photo {
  width: 31px;
  height: 31px;
}

.month {
  font-size: 14px;
}

.with-us {
  font-size: 12px;
}

.card1 {
  background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  box-shadow: 0px 14px 0px -5px #7b54b2, 0px 30px 0px -13px #533978;
  border-radius: 15px;
  width: 255px;
  height: 292px;
}

.card2 {
  background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  box-shadow: 0px 14px 0px -5px #9159b1, 0px 30px 0px -13px #61337c;
  border-radius: 15px;
  width: 255px;
  height: 292px;
}

.card3 {
  background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  box-shadow: 0px 14px 0px -5px #b95a4c, 0px 30px 0px -13px #732f26;
  border-radius: 15px;
  width: 255px;
  height: 292px;
}

.order {
  background: url(/src/images/section04/background_order.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 35px;
  height: 509px;
}

.order-container {
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.title-order {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.email {
  border-radius: 50px;
  background-color: #fff;
  padding: 12px 80px 12px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email > input {
  font-size: 28px;
  color: #959595;
}

.email > button {
  border: none;
  outline: none;
  font-size: 28px;
  color: rgba(216, 216, 216, 0.8470588235);
  background-color: #fff;
}

.order-form > input {
  align-self: center;
  padding: 12px 25px;
  min-width: 580px;
  border-radius: 50px;
  color: #959595;
  font-size: 24px;
}

.button02 {
  color: white;
  background: #8e32c6;
  border: none;
  border-radius: 10px;
  align-self: center;
  padding: 20px 50px;
  font-size: 24px;
}

footer {
  background-color: #021635;
}

.section1-of-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 20px;
}

.list2 {
  font-size: 18px;
}

.section2-of-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2-of-footer::after {
  display: block;
  width: 160px;
  height: 120px;
  content: "";
  background-image: url(/src/images/footer/cr.svg), url(/src/images/footer/logo.svg);
  background-position: bottom center, top center;
  background-size: 100px, 160px;
  background-repeat: no-repeat;
}

hr {
  gap: 10px;
  width: 1110px;
}

.box-for-footer {
  max-width: 1110px;
  margin: 0 auto;
}

.question-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conteiner2 {
  text-decoration: underline;
}