
header{
    background: #012D63;
}
.navigation{
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}
.languege-list{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
}

.colorawe-container::before{
display: block;
  width: 160px;
  height: 120px;
  content: "";
  background-image: url(/src/images/section01/С&R.svg), url(/src/images/section01/header_logo.svg);
  background-position: bottom center, top center;
  background-size: 100px, 160px;
  background-repeat: no-repeat;
}
.colorawe-container{
   max-width: 1110px;
   margin: 0 auto;
}
.coloRawe{
background-repeat: no-repeat;
    background: url(/src/images/section01/background_header.png);
}
.colorawe02{
    font-family: 'Playfair Display', serif;
    font-size: 144px;
    margin-bottom: 8px;
}
.colorawe03{
    font-family: 'Playfair Display', serif;
    font-size: 72px;
    margin-bottom: 12px;
}
.colorawe04{
    font-family: font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin-bottom: 41px;
}
.button01{
    color: white;
    background: #8E32C6;
border: none;
border-radius: 10px;
padding: ;
min-height: 67px;
min-width: 254px;
font-size: 24px;
margin-bottom: 202px;
}
.section2{
    background: linear-gradient(to bottom right, violet,rgb(0, 0, 122), rgb(0, 192, 206) );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Playfair Display', serif;
    font-size: 36px;

    
}
.reviews-cards-section{
    background-image: url(/src/images/section03/section3-background.svg);
    
font-family: 'Playfair Display', serif;
}
.box1{
    background: linear-gradient(to bottom right, #00E5E6, #00A8F7, #9A76F9, #CC5EC2);
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-sizing: border-box ;
    width: 255px;
    height: 292px;
}
.main-text-card1{
    font-size: 24px;
    
}
.nomber-card1{
    font-size: 14px;
   
}
.reviews-card{
    display: flex;
    justify-content: space-around;
    font-size: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.john-tailor2{
    font-size: 14px;
   
}

.nomber-card{
    font-size: 14px;
}
.with-us{
    font-size: 12px;
}
.with-us1{
    font-size: 12px;
    
}
.box2{
    background: linear-gradient(to bottom right, #FF68B4, #FF45E1, #CE3AFF, #8961FF);
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-sizing: border-box ;
    width: 255px;
    height: 292px;
}
.elizabeth-garsia2{
    font-size: 14px;
}
.tom-maquare{
    font-size: 14px;
}
.box3{
    background: linear-gradient(to bottom right, #FFE128, #FF9B5C, #FF8381, #FF5489);
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-sizing: border-box ;
    width: 255px;
    height: 292px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3px;
    padding-bottom: 114px;
}
.order-section{
    background: url(/src/images/section04/section3_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 1140px;
    min-height: 509px;
    margin: 0 auto;
    outline: none;
}
.select{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    outline: none;
}
.questions{
    font-family: 'Roboto', sans-serif;
    text-decoration: #959595;
    margin-top: 118px;
    margin-left: 430px;
    margin-right: 430px;
    margin-bottom: 124px;
    outline: none;
    border: none;
}
.title-order{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    margin-top: 21px;
    margin-left: 655;
    margin-right: 655;
    margin-bottom: 33px;
   
}
 .email{
    border-radius: 50px;
    height: 60px;
    width: 690px;
    
    
 }
 .country{
    border-radius: 50px;
    height: 50px;
    width: 580px;
   
 }
 .city{
    border-radius: 50px;
    height: 50px;
    width: 580px;
 }
 .adress{
    border-radius: 50px;
    height: 50px;
    width: 580px;
   
 }
 .button02{
    color: white;
    background: #8E32C6;
border: none;
border-radius: 10px;
padding: ;
min-height: 68px;
min-width: 248px;
font-size: 24px;
margin-bottom: 37px;
margin-top: 19px;
margin-left: 596px;
margin-right: 596px;
 }
footer{
    background-color: #021635;
}
.section1-of-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}
.section2-of-footer::after{
    display: block;
    width: 160px;
    height: 120px;
    content: "";
    background-image: url(/src/images/section01/С&R.svg), url(/src/images/section01/header_logo.svg);
    background-position: bottom center, top center;
    background-size: 100px, 160px;
    background-repeat: no-repeat;
    
}
.section2-of-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
hr{
    gap: 10px;
}
.box-for-footer{
    padding-left: 165px;
    padding-right: 164px;
}
.question-list{
display: flex;
flex-direction: column;
gap: 10px;
}
.list2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

