
header > nav{
    background: #012D63;
}
.colorawe-container::before{
display: block;
  width: 160px;
  height: 120px;
  content: "";
  background-image: url(/src/images/section01/С&R.svg), url(/src/images/section01/header_logo.svg);
  background-position: bottom center, top center;
  background-size: 100px, 160px;
  background-repeat: no-repeat;
}
.colorawe-container{
   max-width: 1110px;
   margin: 0 auto;
}
.ColoRawe{
background-repeat: no-repeat;
    background: url(/src/images/section01/background_header.png);
}
.ColoRawe02{
    font-family: 'Playfair Display', serif;
    font-size: 144px;
}
.ColoRawe03{
    font-family: 'Playfair Display', serif;
    font-size: 72px;
}
.ColoRawe04{
    font-family: font-family: 'Playfair Display', serif;
    font-size: 48px;
}
.ColoRawe05{
    
    font-size: 18px;
}
.button01{
    color: white;
    background: #8E32C6;
border: none;
border-radius: 10px;
padding: ;
min-height: 67px;
min-width: 254px;
font-size: 24px;
}
.section2{
    background: linear-gradient(to bottom right, violet,rgb(0, 0, 122), rgb(0, 192, 206) );
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}
.Reviews{
background: linear-gradient(to bottom right,rgb(0, 0, 122) , rgb(0, 0, 122),rgb(0, 192, 206));
font-family: 'Playfair Display', serif;
}
.card1-section3{
    font-family: 'Roboto', sans-serif;
}
.main-text-card1{
    font-size: 24px;
}
.nomber-card1{
    font-size: 14px;
}
.reviews-card{
    font-size: 48px;
}
.john-tailor2{
    font-size: 14px;
}
.with-us{
    font-size: 12px;
}