.section2 {
  background-image: radial-gradient(
      circle at right bottom,
      rgb(1, 170, 199),
      rgb(2, 22, 53, 0) 22%
    ),
    radial-gradient(circle at left top, rgb(110, 44, 165), rgb(2, 22, 53) 22%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Playfair Display", serif;
  font-size: 36px;
  height: 606px;
  padding-top: 105px;
}

.box-for-section2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 145px;

  height: 396px;
  border: 5px solid #8e32c6;
  padding-top: 25px;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.card-section2 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &:nth-child(2)::before {
    content: "";
    width: 1px;
    height: 346px;
    background-color: white;
    position: absolute;
    left: -95px;
    top: -20px;
  }

  &:nth-child(2)::after {
    content: "";
    width: 1px;
    height: 346px;
    background-color: white;
    position: absolute;
    right: -95px;
    top: -20px;
  }
}

.section2-title {
  max-width: 159px;
  text-align: center;
}
